<h2>Minhas Contas</h2>

<div *ngIf="contas.length === 0; else contasList">
  <p>Nenhuma conta cadastrada.</p>
</div>

<ng-template #contasList>
  <ul>
    <li *ngFor="let conta of contas">
      <strong>Nome:</strong> {{ conta.nome }} <br>
      <strong>Saldo:</strong> R$ {{ conta.saldo | number:'1.2-2' }} <br>
      <strong>Limite:</strong> R$ {{ conta.limite | number:'1.2-2' }} <br>
      <strong>Vale Alimentação:</strong> R$ {{ conta.valeAlimentacao | number:'1.2-2' }}
      <hr>
      <button class="edit-button" [routerLink]="['/contas/editar', conta.id]" (click)="debugConta(conta)">Editar</button>
      <button class="delete-button" (click)="deletarConta(conta.id)">Deletar</button>
    </li>
  </ul>
</ng-template>